<ion-view view-title="MySurveyApp">
    <ion-content class="centered">
        <h3 style="margin-top: 5px;">Welcome to My Survey App</h3>
        <h4 class="padding"> Please, provide us some informations about you: </h4>
        <div class="list">
            <form ng-submit="persistSurvey();">
                <label class="item item-input item-floating-label" style="border-top: 0px solid white !important; margin-top: 10px;"> 
          <span class="input-label"  style="border-top: 0px solid white !important;">First Name</span>
          <input type="text" placeholder="First name"   style="border-top: 0px solid white !important;" ng-model="firstName" name="name">
      </label>

                <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Last name" ng-model="lastName">
      </label>

                <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="john@suhr.com" ng-model="email">
      </label>


                <label class="item item-input item-floating-label">
        <span class="input-label">Phone</span>
        <input type="text" placeholder="(21) 2777-7777" ng-model="phone">
      </label>

                <label class="item item-input item-floating-label">
        <span class="input-label">Skills</span>
        <textarea  placeholder="AngularJS, NodeJS" ng-model="comment" name="comment"></textarea>
      </label>

                <button type="submit" class="button button-positive background" style="margin-top: 15px;" href="#/app/dash"> SUBMIT </button>
        </div>

        </form>
    </ion-content>
</ion-view>