<ion-view view-title="Account">
    <ion-content class="centered">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <!--<h3 ng-repeat="itens in localstorage">{{itens}}</h3>-->
        <h3 ng-repeat="itens in localstorage">
            {{itens}}
        </h3>

        <button class="button button-positive background" ng-click="sendPeopleToDatabase()">submit</button>

        <!--<div class="float-button">
            <span class="height-fix">
       <button id="fab-profile" class="button button-fab button-fab-bottom-right fab-fixed button-positive pane" nav-view="active" style="opacity: 1; transform: translate3d(0%, 0px, 0px);">
         <i class="icon ion-plus"></i>
       </button>
     </span>-->
        </div>
    </ion-content>
</ion-view>